@media only screen and (max-width: 768px) {
    .hide-mobile {
      display: none;  
    }
    .main-navigation .menu-toggle {
        margin-left: 1rem;
    }
    /**
     * News Item    
     */ 
     .row.news-item {
    }
        .news-item .news-item-title {
            font-size:  1.167rem;
            height: 3.2rem;
            margin-bottom: 0.3rem;
            overflow: hidden;
        }
        .ui.grid > .row.news-item .news-item-thumb img {
            max-height: 100%;
        }     
        .news-item-date {
            height: 1.4rem;
            overflow: hidden;
        }   
            .news-item span.category {
                margin-right: 1rem;
            }
            .news-item .news-item-date {
                font-size:  1rem;
            }
}