@media only screen and (max-width: 768px) {
    .hide-mobile {
      display: none;  
    }
    .main-navigation .menu-toggle {
        margin-left: 1rem;
    }

    #site-navigation {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    /** Mobile nav show **/
    .main-navigation ul.mobile-ext-menu {
        display: block;
    }

    /**
     * Home Banner
     */ 
     .news-banner .banner-image {
        width: 100%;
        height: 200px;
    }
    .news-banner .banner-text {
        height: 100%;
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background: rgba(0,0,0,.5);
        color: #fff;
        font-size: 2.167rem;
        line-height: 2.833rem;
    }
    .banner-date {
        display: none;
    }

    /**
     * News Item    
     */ 
     .row.news-item {
    }
        .news-item .news-item-title {
            font-size:  1.167rem;
            height: 3.2rem;
            margin-bottom: 0.3rem;
            overflow: hidden;
        }
        .ui.grid > .row.news-item .news-item-thumb img {
            max-height: 100%;
        }     
        .news-item-date {
            height: 1.4rem;
            overflow: hidden;
        }   
            .news-item span.category {
                margin-right: 1rem;
            }
            .news-item .news-item-date {
                font-size:  1rem;
            }
}