@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
html {
    font-size: 12px;
}

body {
    color: #282828;
    font-family: tahoma,arial,sans-serif;
    font-size: 1.25rem;
}

a:hover, a:focus, a:active {
    color: red;
}

.ui.container {
    max-width: 1024px !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
    .nav-links {
        margin-top: 1rem;
    }
    .nav-links a {
        font-size: 1.25rem;
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        cursor: pointer;
        vertical-align: top;
        border: 1px solid #b82601;
        transition: all 200ms linear 0s;
        color: #b82601;
    }
        .nav-links a:hover {
            background-color: #b82601;
            border: 1px solid #fff;
            color: #fff;
        }

    .breadcrumb {
        margin: 0 0 20px;
    }    
        .breadcrumb>a {
            color: #646464;
        }
        .breadcrumb>a:after {
            color: #646464;
            font-family: FontAwesome !important;
            content: "\f105";
            vertical-align: top;
            margin: 0 0 0 5px;
        }    
        .breadcrumb>a:last-child:after {
            content: none;
        }
    /** HEADER */

    .site-header {
        background-color: #000000;
    }
    .sticky {
        position: fixed;
        top: 0;
        z-index: 99999;
    }
    .site-branding {
        background-color: #000000;
        padding-top: 1.667rem;
    }
    .site-branding .custom-logo-link {
        width: 300px;
    }
    #site-navigation {
        background-color: #000000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
        #site-navigation .menu-item a {
            font-family: helvetica, sans-serif;
            color: #fff;
            font-size:  1.167rem;
            font-weight: 700;
            display: block;
            padding: 14px 10px;
            text-transform: uppercase;
            position: relative;
        }
        #site-navigation .menu, #site-navigation .sub-menu {
            background-color: #000000;
        }
        #site-navigation .menu-item a:hover {
            background-color: #262626;
        }
        #site-navigation .menu-item.current-menu-item a  {
            color: #e55225;
        }

    .menu-toggle {
        font-weight: bold;
        border: 1px #fff solid;
        background: #000;
        color: #fff;
        font-size: 1rem;
    }    
        .menu-toggle:before {
            font-family: FontAwesome !important;
            content: '\f0c9';
            padding-right: 0.3rem;
        }
    .ui.grid .menu-menu-default-container {
        padding: 0rem;
    }
    .main-navigation ul.mobile-ext-menu {
        display: none;
    }    
    .main-navigation.toggled ul.mobile-ext-menu {
        display: none;
    }
    
    /** FOOTER */
    .site-footer {
        background-color: #000000;
        color: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .site-footer .comp-profile {

    }
        .site-footer .comp-profile p {
            margin-bottom: 0.2rem;
        }

        .site-footer .widget-title {
            font-size: 1.167rem;
            font-weight: 700;
        }
        .site-footer .widget_nav_menu {

        }
        .site-footer .widget_nav_menu .menu {
            margin: 0;
            list-style-type: none;
            padding-left: 0rem;
        }
        .site-footer .widget_nav_menu .menu a {
            color: #fff;
            font-size: 1rem;
        }
    
    .site-main > .ui.grid {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /**
     * Banner   
     */ 
    #home-banner {
        margin-bottom: 2rem;
    }
    .news-banner {
        position: relative;
    }
        .news-banner .banner-item {
            width: 100%;
        }
        .news-banner .banner-image {
            width: 100%;
            height: 450px;
        }
        .news-banner .banner-image img {
            width: 100%;
            height: 100%;
        }
        .news-banner .banner-text {
            min-height: 100px;
            position: absolute;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            background: rgba(0,0,0,.7);
            color: #fff;
            font-size: 1.833rem;
            font-weight: 700;
            line-height: 1.1;
        }
        .news-banner .banner-date {
            font-size: 1rem;
            line-height: 1rem;
        }
        .news-list-title {
            display: block;
            padding: 6px 0;
            font-size: 1.667rem;
            font-weight: 700;
            color: #4a4a4a;
            display: inline-block;
            border-bottom: 5px #c60011 solid;
            text-transform: uppercase;
            text-align: left;
        }
    
    /**
     * News Item    
     */ 
        .news-item.column {
            padding-top: 0rem !important;
        }
        .news-item > div {
            border-bottom: 1px #dedede solid;
            padding-bottom: 0.6667rem;
        }
        .news-item.small {
            padding: 0rem;
            padding-bottom: 1rem;
        }
            .news-item .news-item-box {
                /*border-bottom: 1px #dedede solid;*/
            }
           
                .news-item .news-item-content {
                    
                }
                .news-item .ui.grid.news-item-content {
                    font-size: 1.25rem;
                    color: #555;
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                    padding-bottom: 1rem;
                }
                .news-item.small .ui.grid.news-item-content {
                    padding-bottom: 0rem;
                }
                    .news-item .news-item-content p {
                        margin-bottom: 0rem;
                    }
                    
                /** Item Title **/    
                .news-item .news-item-title {
                    font-family: helvetica, arial;
                    font-size: 1.667rem;
                    font-weight: 600;
                    color: #282828;
                    overflow: hidden;
                }
                .news-item.small .news-item-title {
                    font-size: 1.167rem;
                    margin-bottom: 0.3rem;
                }
                    .news-item .news-item-title:hover {
                        text-decoration: underline;
                    }

                /** Excerpt **/
                .news-item .ui.grid .column.news-excerpt {
                    padding-bottom: 0rem;
                }

                /** Thumbnail **/
                .ui.grid > .row.news-item .news-item-thumb {
                }
                
                .ui.grid > .row.news-item .news-item-thumb img {
                    float:left;
                    width: 100%;
                }
                .ui.grid > .news-item .news-item-full-thumb img {
                    width: 100%;
                }

                .ui.grid > .row.news-item.small .news-item-thumb img {
                    max-height: 6rem;
                }

                /** Date **/
                .news-item-date {
                }
                .news-item.small .news-item-date {
                    height: 1.4rem;
                    overflow: hidden;
                }
                    .news-item-date a.category {
                        color: #e55225;
                        float: left;
                        margin-right: 2rem;
                    }
                    .news-item-date a.category:hover {
                        text-decoration: underline;
                    }
                    .news-item.small a.category {
                        margin-right: 1rem;
                    }
                    .news-item.small .news-item-date {
                        font-size:  1rem;
                    }

                    .news-item-date span.date {
                        float: left;
                        color:#666;
                    }
    /**
     * News Item end
     */  
     
    .post .entry-content {
        text-align: justify !important;
    } 
    
    /**
     * Box widget
     */
          
    .widget-area {
        padding-top: 1rem;
    } 

    .widget-area .news-list {
        margin-bottom: 3rem;
        background: #f4f4f4;
    }
        .widget-area .row.news-item {
            border-bottom: 1px #dedede solid;
        }
        .widget-area .row.news-item:last-child {
            border-bottom: none;
        }
            .widget-area .news-item-box {
                border-bottom: none;
            }

        .widget-area .head {
            padding: 0.5rem 0;
            font-family: Helvetica, sans-serif;
            display: block;
            background: #6B7A8F;
            overflow: hidden;
        }     
        .widget-area .head > h3 {
            float: left;
            font-size: 1.5rem;
            font-weight: 700;
            color: #fff;
            clear: none;
            margin-bottom: 0rem;
            text-transform: uppercase;
        }
        .widget-area .more {
            float: right;
            font-size: 1.333rem;
            color: #333;
            font-family: FontAwesome !important;
        }
            
     
    /**
     * News Pagination
     */
    
    .pagination > div {
        overflow: hidden;
        margin-bottom: 2rem;
    } 
        .pagination .page-numbers {
            font-size: 1em;
            color: #fff;
            background-color: #b82601;
            border: 1px #b82601 solid;
            float:left;
            padding: 0.2rem 0.6rem;
            margin-right: 0.6rem;
        } 
        .pagination .page-numbers:hover, 
        .pagination .page-numbers.current {
            color: #b82601;
            background-color: #fff;
            border: 1px #b82601 solid;
        }

.search-widget.ui.grid {
    overflow: hidden;
    background: #f4f4f4;
    margin-bottom: 3rem;
}
.search-form {
    margin: 1.6rem 0;
}

.gallery {
    margin-bottom: 50px;
}
    .gallery-item {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        height: 450px;
    }
        .gallery-item img {
            width: 100%;
            height: 450px;
            border: 0;
        }
        .gallery-item .gallery-caption {
            margin-left: 0;
        }    

.post-featured-image {
    background-color: rgb(244, 244, 244);
}        
    .post-featured-image .post-thumbnail-caption {
        padding: 0rem 0.5833rem 0.75rem 0.75rem;
    }